.Dictionary section {  
  max-width: 850px;  
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 50px;
  border-radius: 20px;
  background-color: rgb(207, 222, 255);

}

.Dictionary .search {
  margin: auto;
  width: 50%;
  height: 40px;
  border: 2px solid rgb(62, 119, 241);
  border-radius: 20px;
  background-color: #fff;
  padding-left: 10px;
}

.Dictionary .search-button {
  height: 40px;  
  font-size: 15px;
  padding: 8px 20px;  
  margin-left: 8px;
  border-radius: 20px;
  border: none;
  background-color: rgb(62, 119, 241);
  color: #fff;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.Dictionary .search-button:hover {
  background-color:rgb(148, 180, 249);
}

.Dictionary .subheading {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: lowercase;
}

.Dictionary .suggestions {
  margin-top: 10px;
  font-size: 12px;
  font-style: italic;
  color: #000;
}