/* Base styles for all screen sizes */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.App h1 {
  font-size: 3rem; /* Adjust font size for smaller screens */
  font-weight: 900;
  margin: 1rem 0; /* Adjust margins for smaller screens */
  text-align: center;
  letter-spacing: 2px; /* Adjust letter spacing for smaller screens */
  color: rgb(62, 119, 241);
}

.App footer {
  font-size: 1rem; /* Adjust font size for smaller screens */
  font-weight: 500;
  margin: 0.5rem 0; /* Adjust margins for smaller screens */
  text-align: center;
  color: #000;
}

.App a {
  color: rgb(62, 119, 241);
  text-decoration: none;
}

.App a:hover {
  color: rgb(62, 119, 241);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .App h1 {
    font-size: 2rem;
    margin: 0.5rem 0;
    letter-spacing: 1px;
  }

  .App footer {
    font-size: 0.9rem;
    margin: 0.3rem 0;
  }
}

